@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2986CC;
  --primary-light-1: #3e92d1;
  --primary-light-2: #2986CC;
  --primary-light-3: #539ed6;
  --primary-light4: #69aadb;
  --primary-light-5: #7eb6e0;
  --primary-dark-1: #2478b7;
  --primary-dark-2: #206ba3;
  --primary-dark-3: #1c5d8e;
  --primary-dark-4: #18507a;
  --primary-dark-5: #144366;
  --secondary: #ffe200;
  --secondary-light-1: #ffe419;
  --secondary-light-2: #ffe732;
  --secondary-light-3: #ffea4c;
  --secondary-light4: #ffed66;
  --secondary-light-5: #fff07f;
  --secondary-dark-1: #e5cb00;
  --secondary-dark-2: #ccb400;
  --secondary-dark-3: #b29e00;
  --secondary-dark-4: #998700;
  --secondary-dark-5: #7f7100;
  --sub-secondary: #000;
}

* {
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  /* scrollbar-color: gray var(--primary); */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}